{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "eslint:recommended", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off",
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": ["warn", { "code": 160 }],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
